canvas {
  text-align: center;
  padding: 0;
  margin: auto;
  display: block;
  width: auto;
}

.counters {
  margin: auto;
  text-align: center;
  display: inline;
}

h1, h3, p, button {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  text-align: center;
}

button {
  text-align: center;
  padding: 0;
  margin: auto;
  margin-top: 10px;
  padding: 10px;
  display: block;
  width: auto;
}

section {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  display: block;
  width: 600px;
  height: 160px;
  margin: 0 auto;
}
